/* Global Styles */
@font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./fonts/Gotham-Book.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    margin: 0px;
    font-family: 'Gotham', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header Styles */
header {
    background-color: #386231;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh; /* Set max height */
    width: 100%;
}

.header-left img {
    width: 5vh; /* Reduced logo size */
    margin: 1.15vh 0px 0 1.15vw;
}


.header-right .nav-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Gotham Bold', sans-serif;
    font-size: 1vw;
    margin-right: 1.15vw;
    cursor: pointer;
}

.header-right .nav-btn:hover {
    color: #87AB7F;
    scale: 1.05;
    animation: ease-in 3s;
}

/* Centered Logos */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 0 0 0;
}

.logos img {
    margin: 0 0.885vw;
    width: 7vw;
}

.intro button {
    font-family: 'Gotham Bold', sans-serif;
    color: white;
    padding: 1vh;
    border: none;
    text-align: center;
    border-radius: 40px;
    margin: 1vh 0;
    width: 20vw;
    height: 5vh;
    font-weight: 700;
    letter-spacing: 0.25vw;
}

#register-now {
    background-color: #FF9900;
}

#contact-us {
    background-color: #FF6A00;
}


/* Event Details */
.event-details {
    text-align: center;
    font-family: 'Gotham Bold', sans-serif;
    z-index: 1000;
}

.event-details h1 {
    color: black;
    font-size: 6vw;
}

.event-details h2 {
    color: #FF9900;
    font-size: 4vw;
    transform: translateY(-4vw);
}

.event-details #date {
    color: black;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 2vw;
    margin: 0.25vh 0;
    transform: translateY(-5.5vw);
}

#usls-logo  {
    position: absolute;
    right: -5vw;
    top: 5%;
    width: 12.5vw;
    height: auto;
}


.event-details #loc {
    color: black;
    font-family: 'Gotham Medium', sans-serif;
    font-size: 1.125vw;
    margin: 5px 0;
    transform: translateY(-5vw);
}

.buttons {
    align-items: center;
    z-index: 1000;
}

.decorations {

    position: absolute;
    transform: translateX(0vw);
    width: calc(100% + 50vw);
    top: 40%;
    z-index: 1;
    opacity: 80%;
}

.description-decorations {
    position: absolute;
    width: calc(100% + 48vh);
    transform: translateX(-24vh);
    top: 40%;
    z-index: 0;
    opacity: 0.1;
}

.bg-left {
    float: left;
    left: 0%;
    top: 0%;
    width: 35vw; /* Increased size */
}

.bg-right {
    float: right;
    right: 0%;
    top: 500px;
    width: 35vw; /* Increased size */
}

.bg-left-two {
    float: left;
    left: 0%;
    top: 0%;
    width: 25vw; /* Increased size */
}

.bg-right-two {
    float: right;
    right: 0%;
    top: 500px;
    width: 25vw; /* Increased size */
}


/* Parallax Section */
.parallax {
    height: 200vh;
    overflow: hidden;
    position: relative; 
    transform: translateY(-20%);
}

.parallax-content {
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent 5%, #89B183 30%, #b3c9af 55%, #89B183 70%, transparent); /* Faster transition to green */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.5vh;


}


.about-us {
    text-align: left;
    margin: 0 0 0 22.5vw;
    padding-top: 0.5vw;
    transform: translateY(-20%);
}

.title-wrapper {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.5vw;
}

.about-us p {
    font-family: 'Gotham Bold', sans-serif;
    max-width: 80%;
    font-size: 1.35rem;
    white-space: pre-wrap;
    margin-top: 0px;
}

.about-us h1 {
    font-family: 'Gotham Bold', sans-serif;
    font-size: 3rem;
}

#awsug-title {
    color: #386231;
    font-size: 3rem;
}

.section-title {
    font-family: 'Gotham Bold', sans-serif;
    font-weight: bold;
    color: #ff8138;
    transform: translateY(3vh);
    font-size: 2rem;

}


#awsug-group {
    width: 25%;
    height: auto;
    margin-right: 300px;
    transform: translateY(-25%);
}

#tarshy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
    z-index: 2;
}

#tarshy span {
    transform: translateX(-100%);
    color: black;
    font-family: 'Gotham', sans-serif; /* Assuming this is your font */
    font-size: 2vw;
}



#tarshy-bg {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -35%);
    height: 30vw; /* Reduced slightly to allow protrusion */
    width: 25vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 
        0 0 1vh rgba(137, 177, 131, 0.9),
        0 0 3vh rgba(137, 177, 131, 0.7),
        0 0 6vh rgba(137, 177, 131, 0.5);
    z-index: 0;
}

#tarshy-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15vw;
    width: 17.5vw;
    background-color: rgba(255, 106, 0, 0.3); /* Brown glow */
    border-radius: 15vh;
    filter: blur(2vw);
    z-index: 1;
}


#tarshy-img {
    position: relative;
    width: 22.5vw;
    height: auto;
    z-index: 2;
    margin-bottom: 0.5vw;
}

/* Additional styles for text positioning */
#tarshy-line-one,
#tarshy-line-two {
    position: relative;
    margin: 0.25vh;
}


#bold {
    font-weight: 900;
}

.event-description {
    display: flex;
    margin: 0 12vw 50vh;
    gap: 10vw;
    transform: translateY(50%);
}

#event-contents .header {
    font-family: 'Gotham',sans-serif;
    font-weight: 900;
    font-size: 4vw;
    max-width: 10vw;
}

#event-contents #body {
    font-family: 'Gotham',sans-serif;
    font-weight: 400;
    font-size: 1.35vw;
}

#separator-line {
    background-color: black;
    width: 40vw;
    margin: 2.5vw;
    transform: translateX(-5%);
    height: 1px;
}

#accent {
    color: #ff8138;
}



@keyframes introFadeOut {
  to {
    opacity: 0;
    transform: translateY(-50%) translateZ(0) scale(0.8);
  }
}  

.ticket-container {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 2.5vh;
    background-color: transparent;
}


.ticket {
    position: relative;
    border: black;
    width: 38.5vw;
    height: 8.5vw;
    color: black;   
    text-wrap: nowrap;
}

.ticket:hover {
    cursor: pointer;
    scale: 1.05;
    animation: ease-in (1s);
    box-shadow: 
        0 0 1vh rgba(137, 177, 131, 0.9),
        0 0 3vh rgba(137, 177, 131, 0.7),
        0 0 6vh rgba(137, 177, 131, 0.5);
    border-radius: 20px;
}


.ticket-background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: 1px solid #89B183;
    border-radius: 20px;
}

.ticket-content-container h1 {
    font-size: 1.5vw;
}

.ticket-title,
.price {
    color: #FF9900;
    font-weight: 900;
}

.ticket-details {
    font-weight: 750;
    font-size: 0.85vw;
}

.perk-intro {
    font-size: 0.75vw;
}

.ticket-content-two {
    margin: 1.5vw 10vw 0 0;
    text-align: right;
}

.perk-intro {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.seats-left {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 5vw;
}

.seats-left,
.perk-details {
    color: #0E5803;
}


.ticket-content-container {
    display: flex;
    gap: 15vw;
    margin: 0.5vw 2vw;

}

@keyframes fadeInOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-20%) scale(1.05);
    }
    100% {
      opacity: 0;
      transform: translateY(-30%) scale(1.1);
    }
  }

  footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

  }

  .footer-content {
    display: flex;
    flex-direction: row;
    background-color: #386231;
    position: relative;
    width: 100%;
    padding: 2vw;
    gap: 2.5em; 
  }

  #events-footer,
  #contacts-footer,
  #resources-footer {
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    color: white;
    transform: translateX(-100%);
  }

  .footer-content button {
    background-color: transparent;
    color: white;
    border: transparent;
    cursor: pointer;
  }

  .footer-content button:hover {
    color: #87AB7F;
    scale: 1.05;
  }

  #community-day-logo {
    width: 30vw;
    height: auto;
    margin-right: 50vw;
  }

